<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--在cn.mccreefei包下自动扫描组件加入容器-->
    <context:component-scan base-package="com.webchat"/>
    <!--mvc注解支持-->
    <mvc:annotation-driven/>
    <!-- 2.静态资源默认servlet配置
           (1)加入对静态资源的处理：js,gif,png
           (2)允许使用"/"做整体映射
        -->
    <mvc:default-servlet-handler/>

    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 拦截所有mvc控制器 -->
            <mvc:mapping path="/**"/>
            <!--放过地址-->
            <mvc:exclude-mapping path="/chat/login" />
            <mvc:exclude-mapping path="/js/jquery/*" />
            <mvc:exclude-mapping path="/css/themes/*" />
            <mvc:exclude-mapping path="/css/themes/default/*" />
            <!-- mvc:exclude-mapping是另外一种拦截，它可以在你后来的测试中对某个页面进行不拦截，这样就不用在
                LoginInterceptor的preHandler方法里面获取不拦截的请求uri地址了(优选) -->
            <mvc:exclude-mapping path="/" />
            <bean class="com.webchat.intercepter.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>


    <!--freemarker的配置在前，当请求发现/WEB-INF/ftl/没有的时候，就会去/WEB-INF/jsp/查找-->
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
    </bean>
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
        <property name="contentType" value="text/html; charset=UTF-8"/>
    </bean>

    <!--配置视图解析bean-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>
    <mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>

    <!--配置支持文件上传bean-->
    <!--Tomcat8以上，支持文件上传需要在context.xml中context结点属性配置allowCasualMultipartParsing="true"-->
    <!--<bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
    <!--&lt;!&ndash;最大内存大小&ndash;&gt;-->
    <!--<property name="maxInMemorySize" value="4048"/>-->
    <!--<property name="defaultEncoding" value="utf-8"/>-->
    <!--&lt;!&ndash;上传限制大小，-1无限制&ndash;&gt;-->
    <!--<property name="maxUploadSize" value="-1"/>-->
    <!--</bean>-->


</beans>